<h2>My Configurations</h2>
<div>
    <label>Configuration name:</label> <input #configurationName />
    <button (click)="add(configurationName.value); configurationName.value=''">
        Add
    </button>
</div>
<ul class="configurations">
    <li *ngFor="let configuration of configurations" (click)="onSelect(configuration)" [class.selected]="configuration === selectedConfiguration">
        <span class="badge">{{configuration.id}}</span>
        <span>{{configuration.name}}</span>
        <button class="delete" (click)="delete(configuration); $event.stopPropagation()">x</button>
    </li>
</ul>
<div *ngIf="selectedConfiguration">
    <h2>
        {{selectedConfiguration.name | uppercase}} is my configuration
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>